body, header, main, footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: solid black 2px;
  margin: 2px;
  padding: 4px;
}
body {
  border-radius: 10px;
}
#cursive {
  font-family: 'Allura', cursive;
  font-size: 1.5em;
  font-weight: bold;
}
#caps-phrase {
  width: max-content;
  font-variant: all-small-caps;
  font-size:0.6em;
}
#social-media-left {
  margin-right: 20px;
}
.horiz-bar {
  background-image: url('../imgs/hr-img.png');
  background-repeat: repeat-x;
}
#recipe-instructions {
  background-image: url('../imgs/list-bg.png');
  background-repeat: no-repeat;
}