/* UL LI CSS lifted from: https://stackoverflow.com/questions/7463391/how-to-create-open-square-checkbox-style-list-marker-for-html-unordered-list */

body, header, main, footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  /* border: solid black 2px; */
  margin: 2px;
  padding: 4px;
}
body {
  border-radius: 10px;
}
div {
  margin: 2px;
}
#cursive {
  font-family: 'Allura', cursive;
  font-size: 1.5em;
  font-weight: bold;
}
#caps-phrase {
  width: max-content;
  font-variant: all-small-caps;
  font-size:0.6em;
}
#social-media-left {
  margin-right: 20px;
}
.horiz-bar {
  width: auto;
  height: 10px;
  background-image: url("../imgs/hr-img.png");
  background-repeat: repeat-x;
  background-size: 10px 10px;
}
#recipe-image img {
  width: 100%;
  height: auto;
}
#recipe-instructions {
  width: auto;
  height: 250px;
  border: solid grey 3px;
  background-image: url("../imgs/list-bg.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}
ul {
  font-family: cursive;
  font-size: 1.4em;
  list-style: none;
  min-width: 300px;
}
li:before
{
  /* from stackoverflow */
    content: "\2610";
    margin-right:7px;
}
li:hover:before
{
  /* from stackoverflow */
    content: "\2611";
    margin-right: 7px;
}
ul  {
  font-size: 1.2em;
  font-weight:bold;
}
.strike-me {
  text-decoration: line-through;
}
button {
  background-color: lightcoral;
  color: lightgrey;
  padding: 8px 15px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  font-weight: thin;
  font-variant: all-small-caps;
  width: 160px;
  height: 40px;
  border: solid lightcoral 2px;
}
#author-name {
  font-weight: bolder;
}
#author-details {
  display: flex;
  justify-content: space-between;
}
#footer-rule {
  height: max-content;
  display: flex;
}
.hr-rule {
  height: 20px;
  width: 50%;
}
#footer-logo {
  background-image: url("../imgs/small-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: auto;
  padding: 10px;
  display: inline;
  
}
#copyright-published {
  width: 100%;
}
#copyright {
  text-align: center;
}
#published {
  text-align: center;
}